.banner_image .bg-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 75vh;
	width: 100%;
}

.banner_image h1 {
	color: var(--white);
	display: inline-block;
	font-size: 4rem;
	letter-spacing: 2px;
	position: absolute;
	text-align: center;
	top: 20%;
}

.banner_image p {
	color: var(--white);
	font-size: 2rem;
	max-width: 500px;
	display: inline-block;
	position: absolute;
	bottom: 20%;
}
@media (max-width: 1190px) {
	.banner_image h1 {
		top: 45%;
	}
}

@media (max-width: 769px) {
	.banner_image h1 {
		top: 40%;
	}
}
@media (max-width: 767px) {
	.banner_image h1 {
		font-size: 3rem;
		top: inherit;
		bottom: 40%;
	}
	.banner_image p {
		max-width: 100%;
		width: auto;
		padding-right: 10%;
		font-size: 1.6rem;
		bottom: 8%;
	}
}
@media (max-width: 380px) {
	.banner_image h1 {
		bottom: 45%;
	}
	.banner_image p {
		font-size: 1.5rem;
	}
}
