@font-face {
	font-family: 'SlalomSans';
	src: url('public/fonts/SlalomSans_Regular.otf') format('otf');
	font-weight: 400;
}

@font-face {
	font-family: 'SlalomSans';
	src: url('public/fonts/SlalomSans_Bold.otf') format('otf');
	font-weight: 600;
}

/* html,
body,
#root {
	font-family: 'SlalomSans', sans-serif; 
	height: 100%;
	box-sizing: border-box;
} */

html * {
	box-sizing: inherit;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

a {
	color: var(--primary);
	text-decoration: none;
}

/* styles globals */

/* backgrounds */
.bg-gray {
	background-color: var(--gray);
}

/* links */
.link-small {
	color: var(--primary);
	text-decoration: none;
	font-weight: 700;
	font-size: 1.3rem;
	letter-spacing: 2px;
}

.link-small:hover {
	border-bottom: 2px solid var(--primary);
	padding-bottom: 3px;
}
@media (max-width: 767px) {
	.link-small {
		font-size: 1rem;
	}
}
/* titles */
.title-lg {
	margin-top: 2rem;
}
.title-sm {
	color: var(--primary);
	font-weight: 700;
	font-size: 1.3rem;
	letter-spacing: 1px;
}
@media (max-width: 767px) {
	.title-sm {
		font-size: 1rem;
	}
}

/* text */
.text-gray {
	color: var(--gray-secondary);
}

/* buttons */
.button-lg {
	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
	line-height: 1.9rem;
	padding: 0.7rem 0.7rem;
	position: relative;
	text-align: center;
	border-radius: 3px;
	width: fit-content;
}

.button-lg-primary-white {
	background-color: transparent;
	border: 0.1rem solid var(--primary);
	color: var(--primary);
}

.button-lg-primary-white:hover {
	background-color: var(--primary);
	border: 0.1rem solid var(--white);
	color: var(--white);
}

.button-white-lg {
	background-color: transparent;
	border: 0.1rem solid var(--white);
	color: var(--white);
}
.button-white-lg:hover {
	background-color: transparent;
	border: 0.1rem solid var(--white);
	color: var(--white);
}

@media (max-width: 767px) {
	.button-lg {
		font-size: 1rem;
		padding: 0.3rem 0.3rem;
	}
}

/* paragraphs */

.p-lg {
	font-size: 1.5rem;
}

.p-opacity {
	opacity: 0.8;
}
@media (max-width: 767px) {
	.p-lg {
		font-size: 1.1rem;
	}
}

/* utils */
@media (max-width: 1190px) {
	.d-none-md {
		display: none !important;
	}
}

@media (max-width: 767px) {
	.d-none-sm {
		display: none !important;
	}
}

@media (min-width: 1101px) {
	.d-none-lg {
		display: none !important;
	}
}
